.repo-owner {

    border: solid black 5px;

    width: 25%;

    font-size: 25px;

    padding: 10px;

}

#owner-pic {
    height: 140px;
    width: 140px;
}

.repo-owner > img:hover {
    cursor: pointer;
}
